In [2]:
import quandl

In [3]:
import numpy

In [6]:
quandl.get('EIA/PET_RWTC_D')

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
1986-01-09  26.03
1986-01-10  25.65
1986-01-13  25.08
1986-01-14  24.97
1986-01-15  25.18
1986-01-16  23.98
1986-01-17  23.63
1986-01-20  21.33
1986-01-21  20.61
1986-01-22  20.25
1986-01-23  19.93
1986-01-24  19.45
1986-01-27  20.87
1986-01-28  19.45
1986-01-29  19.61
1986-01-30  19.58
1986-01-31  18.95
1986-02-03  17.42
1986-02-04  15.58
1986-02-05  16.28
1986-02-06  16.60
1986-02-07  17.70
1986-02-10  16.78
1986-02-11  16.28
1986-02-12  15.74
...           ...
2017-06-12  46.10
2017-06-13  46.41
2017-06-14  44.79
2017-06-15  44.47
2017-06-16  44.73
2017-06-19  44.24
2017-06-20  43.34
2017-06-21  42.48
2017-06-22  42.53
2017-06-23  42.86
2017-06-26  43.24
2017-06-27  44.25
2017-06-28  44.74
2017-06-29  44.88
2017-06-30  46.02
2017-07-03  46.02
2017-07-05  45.11
2017-07-06  45.52
2017-07-07  44.25
2017-07-10  44.40
2017-07-11  45.06
2017-07-12  45.48
2017-07-13  46.06
2017-07-14  46.53
2017-07-17  46.02
2017-07-18  46.40
2017-07-19  47.10
2017-07-20  46.73
2017-07-21  45.78
2017-07-24  46.21

[7970 rows x 1 columns]